<!-- site_footer -->

<footer class="footer">
  <nav class="level">
    <div class="level-item">
      <div class="buttons are-medium">
        {% for item in site.data.navigation_site_footer %} {% assign page =
        site.pages | where: 'title', item.text %}
        <a class="button is-ghost" href="{{ page[0].url | relative_url }}"
          >{{ page[0].title }}</a
        >
        {% endfor %}
      </div>
    </div>
  </nav>

  <div class="content has-text-centered">
    <small>&copy; 2023 DERFTX &starf; fred belotte</small>
  </div>
</footer>
